body{
  margin:0;
  font-family: 'Poppins', sans-serif;
}
#heading-section{
  background-image: url(images/donation3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width:100%;
  color: #fff;
  margin-top: -50px;
}
.banner{
  background-color: rgba(0, 0, 0, 0.466);
  height: 100%;
}

h1{
text-align: center;
font-size: 50px;
}
p{
  text-align: center;
}
.button-1{
  color: #fff;
  background-color:coral;
  padding: 10px 15px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  margin-left: 42%;
}
.section-2{
  margin: 150px 100px;
}

.b3 ul li{
  display:inline-block;
  background-color: rgba(233, 223, 230, 0.473);
  border-radius: 5px;
  font-size: 30px;
  margin: 10px;
  padding: 25px 20px;
  text-align: center;
}
.b3 ul{
  text-align: center;
}
.inp1{
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid black;
  margin: 50px 350px; 
}
.inp1 input{
  outline: 0;
  border: 0;
  font-size: 18px;
}
































.section-3-bottom-div{
  display: flex;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}
.section-3-bottom-div-1{
  text-align:center;
  padding: 50px;
  background-color: rgba(127, 255, 212, 0.226);
  margin: 10px;
  border-radius: 5px;
}
.section-3-bottom-div-1 img{
  height: 70px;
  width: 70px;
}
.section-3-bottom-div-2{
  text-align:center;
  padding: 50px;
  background-color: rgba(255, 225, 127, 0.226);
  margin: 10px;
  border-radius: 5px;
}
.section-3-bottom-div-2 img{
  height: 80px;
  width: 80px;
}
.section-3-bottom-div-3{
  text-align:center;
  padding: 50px;
  background-color: rgba(255, 127, 234, 0.226);
  margin: 10px;
  border-radius: 5px;
}
.section-3-bottom-div-3 img{
  height: 80px;
  width: 80px;
}

.section-4{
  display:flex;
  margin: 125px 100px;
}
.section-4-left{
padding: 0 100px;
text-align: left;
font-size: 25px;
}
.section-4-left p{
  text-align: left;
  font-size: 17px;
  margin-bottom: 50px;
}
.section-4-button{
  color: #fff;
  background-color:coral;
  padding: 10px 15px;
  border-radius: 6px;
  text-align: left;
  text-decoration: none;

}

.section-4-right img{
height: 450px;
width: 500px;
border-radius: 5px;
}


.section-5-div-2{
  text-align: center;
  margin: 50px 300px; 
  background-color: rgba(255, 127, 80, 0.233);
  padding: 75px 50px;
  border-radius: 5px;

}
.section-5-div-2 input{
  outline: 0;
  border: 0;
  font-size: 15px;
  padding: 13px 25px;
  border-radius: 5px 0 0 5px;
  background-color: lightgray;
}
.section-5-div-2 a{
  text-decoration: none;
  background-color: coral;
  color: #fff;
  padding: 10px 25px;
  margin-left:-5px;
  border-radius: 0 5px 5px 0;
}
.main-footer{
  background-color: black;
  height: 150px;
}
.footer-head{
  text-align: center;
  font-size: 30px;
  color: coral;
  padding-top: 40px;
}
.footer-text{
  text-align: center;
  color: #fff;
  font-size: 15px;
  margin-top:-10px;
}
